:root {
    --principalFont: 'DM Sans', sans-serif;
    --whiteColor: #ffffff;
    --bodyBgColor: #f7e9dc;
    --headerBgColor: #ec755d;
    --dividerColor: #e2dbd3;
    --spendingTitleColor: #312316;
    --daysTextColor: #918a84;
    --daysBarColor1: #ec755d;
    --daysBarColor2: #76b5bc;
    --daysBarColorHover1: #ff9b87;
    --daysBarColorHover2: #b4dfe5;
    --popUpPriceColor: #372416;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: var(--principalFont);
    font-size: 18px;
    background-color: var(--bodyBgColor);
}

.container {
    height: 26em;
    width: 25em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 1.5em;
    box-sizing: border-box;
    border-radius: 15px;
    color: var(--whiteColor);
    background-color: var(--headerBgColor);
}

.header-container p {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.header-container h1 {
    font-size: 1.5em;
    font-weight: 700;
}

.main-container {
    height: 22em;
    width: 100%;
    border-radius: 15px;
    padding: 1em;
    margin-top: 1em;
    box-sizing: border-box;
    background-color: var(--whiteColor);
}

.spending-container {
    height: 13em;
    border-bottom: solid 1px var(--dividerColor);
}

.spending-container h2 {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--spendingTitleColor);
}

.bars-container {
    display: flex;
    justify-content: space-between;
    height: 10em;
    width: 100%;
    padding: 1.5em 0;
    box-sizing: border-box;
}

.day-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 9em;
    width: 2.6em;
}

.day-container p {
    font-size: 0.8em;
    margin-top: 0.5em;
    color: var(--daysTextColor);
}

.day-bar {
    width: 100%;
    border-radius: 5px;
    background-color: var(--daysBarColor1);
}

.day-bar:hover {
    cursor: pointer;
    background-color: var(--daysBarColorHover1);

}

.tooltip-price {
    display: flex;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5em;
    color: var(--whiteColor);
    background-color: var(--popUpPriceColor);
}

.mon {
    position: relative;
    height: 27.45%;
}

.mon:hover .tooltip-price {
    visibility: visible;
    margin-top: -2.3em;
    margin-left: -0.4em;
}

.tue {
    height: 44.91%;
}

.tue:hover .tooltip-price {
    visibility: visible;
    margin-top: -2.3em;
    margin-left: -0.4em;
}

.wed {
    height: 62.36%;
    background-color: var(--daysBarColor2);
}

.wed:hover {
    background-color: var(--daysBarColorHover2);
}

.wed:hover .tooltip-price {
    visibility: visible;
    margin-top: -2.3em;
    margin-left: -0.4em;
}

.thu {
    height: 41.07%;
}

.thu:hover .tooltip-price {
    visibility: visible;
    margin-top: -2.3em;
    margin-left: -0.4em;
}

.fri {
    height: 33.39%;
}

.fri:hover .tooltip-price {
    visibility: visible;
    margin-top: -2.3em;
    margin-left: -0.4em;
}

.sat {
    height: 53.28%;
}

.sat:hover .tooltip-price {
    visibility: visible;
    margin-top: -2.3em;
    margin-left: -0.4em;
}

.sun {
    height: 35.48%;
}

.sun:hover .tooltip-price {
    visibility: visible;
    margin-top: -2.3em;
    margin-left: -0.4em;
}











/*-------------------------------------------*/
/*   --Continuar desenvolvimento da main--   */
/*-------------------------------------------*/
